body {
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    color: black;
    padding: 5%;
    font-size: 20px;
    margin: 0;
    font-family: Arial, sans-serif;
    background-attachment: fixed;

}

h2 {
    text-align: left;
    font-size: 50px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

ul {
    padding: 20px;
    background-color: #f0f0f0;

    border-radius: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    list-style-type: none;

    padding: 0;


}

ul:hover {
    background-color: #fafafa;

}

ul::before {
    content: '•';

    font-size: 40px;

    color: #c56666;

    position: absolute;
    left: -30px;

}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;

    margin-bottom: 10px;

}

li:last-child {
    border-bottom: none;
}

li:hover {
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 40px;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
    color: #c56666;

    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

}

#description,
#special,
#can,
#dead {
    background-color: #f9f9f9;

    padding: 15px;
    border-radius: 8px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    margin-bottom: 20px;

}

#description {
    background: linear-gradient(135deg, #f0f0f0, #ecbebe);



}

#special {
    background: linear-gradient(135deg, #fff9c4, #ffeb3b);

}

#can {
    background: linear-gradient(135deg, #d1c4e9, #b39ddb);

}

#dead {
    background: linear-gradient(135deg, #ffccbc, #ffab91);
}

p {
    padding: 15px;
    margin: 20px 0;
    background-color: #f4f4f4;
    border-left: 5px solid #48494b;
    border-radius: 5px;

}

.common {
    padding: 15px;
    margin: 20px 0;
    /* Add space above and below paragraphs */
    background-color: #f4f4f4;
    /* Light background color */
    border-left: 5px solid #48494b;
    /* Colorful left border */
    border-radius: 5px;
}